<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :street_address %>
    <%= form.text_field :street_address, id: :location_street_address, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :city %>
    <%= form.collection_select :city, Location::MARTA_CITIES, :to_s, :to_s, class: 'form-control' %>
  </div>


  <div class="field form-group text-center">
    <% form_tag do %>
    <p> <%= radio_button_tag :max,  "1" %> 1/4 mi </p>
    <p> <%= radio_button_tag :max, "2" %> 1/2 mi </p>
    <p> <%= radio_button_tag :max, "3" %> 1 mi </p>
    <p> <%= submit_tag 'Choice' %> </p>
  <% end %> 
  </div>



  <div class="actions form-group">
    <%= form.submit 'Find my buses', class: 'btn btn-success'%>
  </div>


<% end %>
